<label>{{title}}</label>

<div class="row">
  <div class="col-md-8">
    <input type="range" value={{value}} min={{min}} max={{max}} oninput={{action 'updateValue'}} class='form-control'>
  </div>
  <div class="col-md-4">
    <input type="number" value={{value}} min={{min}} max={{max}} onchange={{action 'updateValue'}} class='form-control'>
  </div>
</div>